<!DOCTYPE html>
<html>

  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <title>Job Postings Feed Registration</title>

  </head>
  <body>
    <h1>Job Postings Feed Registration</h1>
    <hr>
      
      <form action="/urlsubmission" method="post">
      <label for="url_textbox" >Submission url:</label> <input id="url_textbox" type="text" name="submission_url" size="40"/> <br />
	  <label for="interval_textbox" >Crawl interval (weeks):</label> <input id="interval_textbox" type="text" name="crawl_interval_weeks" size="2" value="6" /> <br />
      <label for="email_textbox" >Contact email:</label> <input id="email_textbox" type="text" name="contact_email"/> (optional - for feed parse error notification and spam resolution)<br />
    <input type="submit" value="Register URL"/> <br />
    <!--
    <input type="checkbox" value="validate_only" id="validate_only_checkbox" checked="checked" />
      <label for="validate_only_checkbox" >Validate only</label>
	-->

    </form>
    
	<p>
	  <!-- The development server is not multithreaded, so we can't feed a local page to the parser unless we run separate instances of the server. -->
	  <!--<a href="/static/example_joblist.xml">example feed</a>-->
	  examples: <a href="http://jobcrawlr.appspot.com/static/example_joblist.xml">feed1</a> <a href="http://jobcrawlr.appspot.com/static/example_joblist2.xml">feed2</a> (drag into box)
	  | <a href="/feeds">all feeds</a> (<a href="/feeds?format=xml">XML</a>)</p>
  </body>
</html>
