<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <title>Job Posting {{job.job_id}}</title>
    <style type="text/css">
dt {font-weight: bold}
    </style>
  </head>
  <body>

<h1>Nameless Corporation</h1>
This is just an example "full" job posting that should be hosted on the employer's website.
<dl>
<dt>Job ID</dt>
<dd>{{job.job_id}}</dd>

<dt>Job Title</dt>
<dd>{{job.title}}</dd>

<dt>Job Description</dt>
<dd>{{job.description}}</dd>

<dt>Job Expiration</dt>
<dd>{{job.expiration}}</dd>
</dt>

  </body>
</html>
